<div *ngIf="currentRoute === '/heroes'">

  <h1>Wild World Heroes Roster</h1>
  <label>Filter heroes by specialty</label>
  <select (change)="onChange($event.target.value)">
    <option value="Melee Combat">Melee Combat</option>
    <option value="Ranged Weaponry">Ranged Weaponry</option>
    <option value="Item Recovery">Item Recovery</option>
    <option value="Technology ">Technology</option>
    <option value="Travel">Travel</option>
    <option value="Support/Healing">Support/Healing</option>
    <option value="all" selected="">All</option>
  </select>

</div>
<div id="hero-display" *ngFor="let hero of heroes | async | specialtyFilter: filterBySpecialty">
  <div class="hero-display">
    <h3 class="hero-h3"(click)="goToDetailPage(hero)">Name: {{hero.name}}</h3>
    <h3 class="hero-h3">Specialty: {{hero.specialty}}</h3>
    <h3 class="hero-h3">Short Description:</h3>
    <p class="hero-desc">{{hero.blurb}}</p>
    <div *ngIf="currentRoute === '/admin'">
    <h3 class="hero-h3">Description:</h3>
    <p class="hero-desc">{{hero.description}}</p>
    <h3 class="hero-h3">Is a featured hero? {{hero.featured}}</h3>
    <hr>
    <hero-edit [selectedHero]="hero"></hero-edit>
    </div>
  </div>
</div>
