<h1>About West World Heroes</h1>

<h3>The Story So Far...</h3>

<p>
  Powerful corpartions, and corrupt individuals, retreated to the saftey of a Capital Ship floating in orbit of the planet. Despite their greedy intentions, they were the only thing keeping the whole region from erupting into conflict. Now here we are, in a wild world, like the 'old West'. Everyone left behind live under constant attacks from bandits, gangs, rouge'milita's, and every other hostile creature on this planet, or the face the problems of lack of resources, and or shelter.</p>

  <h3>We needed Heroes</h3>
  <p>
    When this all began it was chaos, but as a new paradigm of life was establish word spread of individuals that sought to make this wasteland a better place. First they were far and few between, but words of their deeds spread inspiring others to do what they can to help others. Human or beast, we are all in this together.
  </p>

  <h3>Making the 'Waste a better Place</h3>
  <p>
    With the help of heroes like these, and others inspired to follow in thier footsteps, we can begin to turn this region around.  While it is sure to take a long, long time to amend the damage that has been done, we will be there to make it better one step at a time, be it through dangerous heroic deeds, or helpign deliver food to settlements that need it!
  </p>
