<div class="well">
  <h1>Add a Hero to the Roster</h1>
  <div>
    <div class="form-group">
      <label>Hero Name</label>
      <br>
      <input #newName>
    </div>
    <div class="form-group">
      <label>Hero Race</label>
      <br>
      <input #newRace>
    </div>
    <div class="form-group">
      <label>Select Specialty</label>
      <br>
      <select #newSpecialty>
        <option value="Melee Combat">Melee Combat</option>
        <option value="Ranged Weaponry">Ranged Weaponry</option>
        <option value="Item Recover">Item Recover</option>
        <option value="Technology ">Technology</option>
        <option value="Travel">Travel</option>
        <option value="Support/Healing">Support/Healing</option>
      </select>
    </div>
    <div class="form-group">
      <label>Hero Description</label>
      <br>
      <textarea #newDescription></textarea>
    </div>
    <div class="form-group">
      <label>A short description of the hero</label>
      <br>
      <input #newBlurb>
    </div>
    <button (click)="submitForm(newName.value, newRace.value, newSpecialty.value, newDescription.value, newBlurb.value)">Add Hero</button>
  </div>
</div>
