<h2>Need some help?</h2>
<br>
<p>
  Are you tired of bandits stealing what little you have left? Do you have frequent run ins with hostile beast-kin tribes, and or gangs? Has someone you care for been kidnapped? Do you need to have something repaired?
</p>
<h3>If so look no further!</h3>
<p>
  Wild World Heroes is a database of the folks trying to make a difference in the world, be it dangerous missions to make what little peace we can get, helping ensure suppiles get to where they need to be, or just helping the folks of besieged towns rebuild.
</p>
<h4><a routerLink="">Click here to check out the full roster of Heroes!</a></h4>
<hr>
<h2>Featured Heroe of The Waste</h2>
<h5>Those listed below have proven themselves time, and time again they are true heroes.</h5>

<div id="featured-heroes" class="panel panel-default">
  <div class="panel-heading">
    <h4>Omar, Gunslinger Extrodinare</h4>
  </div>
  <div class="panel-body">
    <h4>Specialty: Ranged Weaponry</h4><br>
    <h4>Race: Okin</h4><br>
    <h4>We have all seen him riding through out the waste on that mechanical horse of his. Omar is an Okin Exile with a heart of gold, and the reflexes of a true gunslinger!</h4><br>
  </div>
</div>
